---
import Layout from '../layouts/Layout.astro';
---

<Layout title="home">
  <section class="py-10">
    <h1 class="text-5xl font-bold mb-8">vodka redbull.</h1>
    <p class="text-lg mb-6">
      hi. this is vodka redbull. 
    </p>
    <div class="mt-8">
      <p class="text-lg">
        <a href="https://x.com/coolerkingcap" class="text-sage-500 hover:text-sage-400">xitter</a> / 
        <a href="mailto:your@vengyus@protonmail.com" class="text-sage-500 hover:text-sage-400">email</a>
      </p>
    </div>
  </section>
</Layout>